*{
    box-sizing: border-box;
}

header {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    
}

#top-nav {
    background-color: #F3F4EF;
    justify-content: right;
    color: lightslategray;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;;
}

header i {
    font-size: 3.3em;
    color: black;
    margin: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

#main-nav {
    background-color: #779882;
    justify-content: space-between;
}

h1{
    font-size: 45px;
    line-height: 0.5;
    font-family: "Roboto", sans-serif;;
}

h2{
    font-size: 25px;
    line-height: 0.5;
    font-family: "Roboto", sans-serif;;
}

img {
    width: 100%;
    height: auto;
}

.hero-banner {
    background-color:#779882;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: -5px;
}

.column {
    display: flex;
    justify-content: space-between;
}

.left-column {
    width: 60%;
}

.right-column {
    width: 40%;
}

footer {
    background-color: #425348;
    color: #fff;
    text-align: center;
    padding: 50px;
    padding-bottom: 100px;
    bottom: 0;
    width: 100%;
    font-family: "Roboto", sans-serif;;
}